.loader {
  height: 50px;
  transform-origin: bottom center;
  animation: rotate 3s linear infinite;
}

.circle {
  display: inline-block;
  background-color: #8a2be2;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  transform: scale(0);
  margin: -13px;
  animation: grow 1.5s linear infinite;
}

.circle:nth-child(2) {
  background-color: #d87093;
  animation-delay: 0.8s;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

@keyframes grow {
  50% {
    transform: scale(1);
  }
}
